<!-- third party styles -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>
<!-- site styles (hardcoded to ensure loading) -->
<link href="/_styles/-theme.css" rel="stylesheet" />
<link href="/_styles/base.css" rel="stylesheet" />
<link href="/_styles/header.css" rel="stylesheet" />
<link href="/_styles/footer.css" rel="stylesheet" />
<link href="/_styles/section.css" rel="stylesheet" />
<link href="/_styles/portrait.css" rel="stylesheet" />
<link href="/_styles/feature.css" rel="stylesheet" />
<link href="/_styles/card.css" rel="stylesheet" />
<link href="/_styles/citation.css" rel="stylesheet" />
<link href="/_styles/button.css" rel="stylesheet" />
<link href="/_styles/tags.css" rel="stylesheet" />
<link href="/_styles/search.css" rel="stylesheet" />
