<!-- third party styles -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>
<!-- site styles -->
<link href="/_styles/-theme.css" rel="stylesheet" />
<link href="/_styles/alert.css" rel="stylesheet" />
<link href="/_styles/all.css" rel="stylesheet" />
<link href="/_styles/anchor.css" rel="stylesheet" />
<link href="/_styles/background.css" rel="stylesheet" />
<link href="/_styles/body.css" rel="stylesheet" />
<link href="/_styles/bold.css" rel="stylesheet" />
<link href="/_styles/button.css" rel="stylesheet" />
<link href="/_styles/card.css" rel="stylesheet" />
<link href="/_styles/checkbox.css" rel="stylesheet" />
<link href="/_styles/citation.css" rel="stylesheet" />
<link href="/_styles/code.css" rel="stylesheet" />
<link href="/_styles/cols.css" rel="stylesheet" />
<link href="/_styles/dark-toggle.css" rel="stylesheet" />
<link href="/_styles/details.css" rel="stylesheet" />
<link href="/_styles/feature.css" rel="stylesheet" />
<link href="/_styles/figure.css" rel="stylesheet" />
<link href="/_styles/float.css" rel="stylesheet" />
<link href="/_styles/font.css" rel="stylesheet" />
<link href="/_styles/footer.css" rel="stylesheet" />
<link href="/_styles/form.css" rel="stylesheet" />
<link href="/_styles/grid.css" rel="stylesheet" />
<link href="/_styles/header.css" rel="stylesheet" />
<link href="/_styles/heading.css" rel="stylesheet" />
<link href="/_styles/highlight.css" rel="stylesheet" />
<link href="/_styles/icon.css" rel="stylesheet" />
<link href="/_styles/image.css" rel="stylesheet" />
<link href="/_styles/link.css" rel="stylesheet" />
<link href="/_styles/list.css" rel="stylesheet" />
<link href="/_styles/main.css" rel="stylesheet" />
<link href="/_styles/paragraph.css" rel="stylesheet" />
<link href="/_styles/portrait.css" rel="stylesheet" />
<link href="/_styles/post-excerpt.css" rel="stylesheet" />
<link href="/_styles/post-info.css" rel="stylesheet" />
<link href="/_styles/post-nav.css" rel="stylesheet" />
<link href="/_styles/quote.css" rel="stylesheet" />
<link href="/_styles/rule.css" rel="stylesheet" />
<link href="/_styles/search-box.css" rel="stylesheet" />
<link href="/_styles/search-info.css" rel="stylesheet" />
<link href="/_styles/section.css" rel="stylesheet" />
<link href="/_styles/table.css" rel="stylesheet" />
<link href="/_styles/tags.css" rel="stylesheet" />
<link href="/_styles/textbox.css" rel="stylesheet" />
<link href="/_styles/tooltip.css" rel="stylesheet" />
<link href="/_styles/util.css" rel="stylesheet" />
